div(class='col col-md-4')
    div(class='cart')
        a(href='goods/'+val['slug'])
            div(class='cart-title-wrapper')
                h3(class='cart-title text-center') #{val['name']}
            div(class='cart-img')
                img(
                    src='assets/images/'+val['image']
                    class='cart-images'
                )
            div(class='cart-price')
                p(class='text-center') #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} zł / 7dni
        ul(class='cart-action')
            li
                button(
                    data-goods_id = val['id']
                    class='button button-primary add-to-cart'
                ) Do zamówienia
